body{
    background: linear-gradient(179deg, #959f9c, #99f5a0, #5bf2cc, #5b9af2, #5b6cf2, #ae5bf2);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    font-family: 'Quicksand', sans-serif;
}

@-webkit-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}

.jm-bg{
    opacity: 0.7;
}

.par-style{
    font-style: normal;
    font-weight: bolder;
}

.footer{
    font-weight: bolder;
    position: relative;
    margin-top: 10px;
    bottom: 0;
}

.code-shape{
    color: azure;
}

.list-group-item{
    background: none;
}

.list-bg{
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}

.change-bg{
    background-color: #263238;
    border-radius: 10px;
}